<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="diplom_loskutova.Properties.Settings.DP_2025_LoskutovaConnectionString"
   connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DP_2025_Loskutova;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>




<!-- connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=LoskutovaDatabase;Integrated Security=True;" -->